:root {
    font-family: 'Inter', sans-serif;
    --scroll-gap: 1.5rem;
    /* Primary */
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
    /* #### Light Theme */
    --White-BG: hsl(0, 0%, 100%);
    --VeryPaleBlue-TopBGPattern: hsl(225, 100%, 98%);
    --LightGrayishBlue-CardBG: hsl(227, 47%, 96%);
    --DarkGrayishBlue-Text: hsl(228, 12%, 44%);
    --VeryDarkBlue-Text: hsl(230, 17%, 14%);
    /* #### Light Theme */
    --Toggle: hsl(230, 22%, 74%);
    /* #### Dark Theme */
    --VeryDarkBlue-BG: hsl(230, 17%, 14%);
    --VeryDarkBlue-Top-BG-Pattern: hsl(232, 19%, 15%);
    --DarkDesaturatedBlue-CardBG: hsl(228, 28%, 20%);
    --DesaturatedBlue-Text: hsl(228, 34%, 66%);
    --White-Text: hsl(0, 0%, 100%);
    /* #### Dark Theme */
    --Toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: var(--White-BG);
}

.body.dark {
    background-color: var(--VeryDarkBlue-BG);
}


/* * {
    border: red 1px solid;
} */

header {
    padding: var(--scroll-gap);
}

header article h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: black;
}

.header__h2.dark {
    color: var(--White-Text);
}

header small {
    font-weight: 700;
    color: var(--DarkGrayishBlue-Text);
}

.header__small.dark {
    color: var(--DesaturatedBlue-Text);
}

header div {
    margin-top: 1rem;
    border-top: 1px solid var(--DarkGrayishBlue-Text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--DarkGrayishBlue-Text);
}

.header__div.dark {
    border-top: 1px solid var(--DesaturatedBlue-Text);
    color: var(--DesaturatedBlue-Text);
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Toggle);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round.dark {
    background-image: var(--Toggle-dark);
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 29px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.dark:before {
    background-color: var(--VeryDarkBlue-BG);
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.parent {
    padding: var(--scroll-gap);
    /* height: 40vh; */
    overflow: auto;
    scroll-snap-type: mandatory;
}

.child {
    /* height: calc(50vh - 3 * var(--scroll-gap)); */
    /* scroll-snap-align: center; */
    padding-top: 0.3rem;
    display: grid;
    border-radius: 7px;
}

.child:not(:last-child) {
    margin-bottom: var(--scroll-gap);
}

.child .container {
    background-color: var(--LightGrayishBlue-CardBG);
    padding: 0;
    width: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.container.dark {
    background-color: var(--DarkDesaturatedBlue-CardBG);
}

.container div {
    text-align: center;
    font-weight: 700;
}

.container figure {
    margin: 0 0.5rem;
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
}

.container__header p {
    color: var(--DarkGrayishBlue-Text);
    font-size: 0.7rem;
}

.container__header__p.dark {
    color: var(--DesaturatedBlue-Text);
}

.container__main h1 {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 0.2rem;
}

.container__main__h1.dark {
    color: var(--White-Text);
}

.container__main h2 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0.2rem;
}

.container__main__h2.dark {
    color: var(--DesaturatedBlue-Text);
}

.container__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.container__footer h3 {
    color: var(--LimeGreen);
    font-size: 0.7rem;
}

.youTube .container__footer h3 {
    color: var(--BrightRed);
}

.container__footer img {
    height: 5px;
}

.facebook {
    background-color: var(--Facebook);
}

.twitter {
    background-color: var(--Twitter);
}

.instagram {
    background-image: var(--Instagram);
}

.youTube {
    background-color: var(--YouTube);
}

.secondaryTitle {
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--DarkGrayishBlue-Text);
    padding: var(--scroll-gap);
}

.secondaryTitle.dark {
    color: var(--White-Text);
}

.parentSecondary {
    padding: var(--scroll-gap);
    overflow: auto;
    scroll-snap-type: mandatory;
}

.childSecondary {
    padding-top: 0.3rem;
    display: grid;
    border-radius: 7px;
    background-color: var(--LightGrayishBlue-CardBG);
}

.childSecondary.dark {
    background-color: var(--DarkDesaturatedBlue-CardBG);
}

.childSecondary:not(:last-child) {
    margin-bottom: var(--scroll-gap);
}

.childSecondary div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.childSecondary figure {
    margin: 0;
}

.childSecondary__title {
    font-weight: 700;
    color: var(--DarkGrayishBlue-Text);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.childSecondary__title.dark {
    color: var(--DesaturatedBlue-Text);
}

.childSecondary__number {
    font-size: 2rem;
    font-weight: 700;
    margin: 1.2rem 0;
}

.childSecondary__number.dark {
    color: var(--White-Text);
}

.childSecondary__number~div {
    padding: 0;
    font-size: 0.7rem;
    font-weight: 700;
}

.up {
    color: var(--LimeGreen);
}

.down {
    color: var(--BrightRed);
}